body {
	text-align: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

canvas{
	position: absolute;
	left: 0px;
	top: 0px;
}

#screen{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

#overlay{
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	font-family: Arial;
	font-size: 4vh;
	z-index: 100;
}

#pre-init-screen{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #ccccee;
}

#pre-init-screen .progress-background{
	position: absolute;
	left: 38%;
	height: 6%;
	width: 24%;
	background-color: #acaccc;
}

#pre-init-screen .progress{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0;
	background-color: #c6006b;
}

#homescreen{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #ccccee;
	user-select: none;
	display: block;
}

/* font size based on view width so title should fit in one line under normal circumstances */
#homescreen h1{
	margin: 0 auto;
	font-size: 8vw;
}

.game-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	user-select: none;
	display: block;
}

.home-songs-div{
	position: absolute;
	font-size: 2.8vh;
	left: 0;
	width: 50%;
	height: 100vh;
}

.home-songs-div p{
	margin: 1.4% 0 1.4% 0;
}

.home-controls-div{
	position: absolute;
	left: 50%;
	width: 50%;
	height: 100vh;
}

.home-controls-div h2{
	margin: 0 auto;
	font-size: 8vh;
}

.home-controls-div p{
	text-align: left;
	margin: 0.4em 0;
	font-size: 4vh;
}

.home-controls-div p img{
	height: 1.5em;
}

.log-link{
	position: absolute;
	right: 4%;
	bottom: 4%;
}

.home-selection{
	margin: 0 2% 2vh 2%;
	height: 14vh;
	width: 96%;
	background-color: #acaccc;
	text-align: center;
}

.highlighted-home-selection{
	outline: 4px solid #c6006b;
}

.end-game-screen{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	font-size: 4vh;
	background-color: #ccccee;
	user-select: none;
	display: block;
}

.end-game-screen p{
	margin: 16px 0 0 0;
}

.end-game-screen-text-div{
	background-color: #acaccc;
}

.editor-overlay{
	width: 100%;
	height: 100vh;
	display: block;
}

.editor-controls{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(100, 100, 100, 0.4);
}

.editor-ranges-div{
	width: 90%;
	margin-left: 5%;
}

.editor-buttons-div{
	position: absolute;
	width: 5%;
	left: 0;
	top: 0;
	height: 100%;
}

.editor-broad-range{
	width: 100%;
	display: block;
}

.editor-precise-range{
	width: 25%;
	display: block;
}

.score{
	position: absolute;
	top: 0;
	right: 0;
	height: 4%;
	width: 100%;
	font-size: 5vw;
	margin-top: 1vw;
	user-select: none;
}

.score p{
	float: right;
	margin: 0;
}

.fps{
	position: absolute;
	top: 0;
	left: 0;
	height: 4%;
	width: 40%;
	font-size: 1vw;
	margin: 0;
	user-select: none;
}

.fps p{
	margin: 0;
	text-align: left;
}

.menu{
	position: absolute;
	top: 10vh;
	left: 35%;
	height: 80vh;
	width: 30%;
	font-size: 4vh;
	background-color: #9999ff;
	z-index: 200;
}

.menu-selection{
	width: 100%;
	height: 20%;
	margin-bottom: 2px;
}

.highlighted-menu-selection{
	outline: 4px solid cyan;
}

.menu-selection p{
	margin: 0;
	user-select: none;
}

.get-input-dialog{
	position: absolute;
	font-size: 1rem;
	top: 10px;
	background-color: #aaaaaa;
	z-index: 300;
}

.dialog-form-div{
	width: 100%;
	padding-bottom: 2rem;
}

.dialog-buttons-div{
	width: 100%;
	height: 2rem;
	bottom: 0;
}

.full-sized{
	width: 100%;
	height: 100%;
}

/* --- --- --- */
/* for screens falling outside "normal" bounds */
/* --- --- --- */

/* when the view width is less than 8/5 of the view height (view port too tall):
	swap view height specification with view width specifications 
		(because view height no longer corresponds to the game-screen size, 
		the screen is 8/5 ratio with the height based on the width of game-screen)
*/
@media(max-aspect-ratio: 8/5){
	#screen{
		width: 100vw;
		height: 62.5vw;
	}

	#overlay{
		width: 100vw;
		height: 62.5vw;
		font-size: 2.8vw;
	}

	#homescreen{
		width: 100vw;
		height: 62.5vw;
	}
	
	.end-game-screen{
		width: 100vw;
		height: 62.5vw;
		font-size: 2.5vh;
	}
	
	.menu{
		top: 6.25vw;
		left: 35%;
		height: 50vw;
		width: 30%;
		font-size: 2.5vw;
	}

	.editor-overlay{
		width: 100vw;
		height: 62.5vw;
	}
	
	.game-overlay{
		width: 100vw;
		height: 62.5vw;
	}

	.home-songs-div{
		font-size: 1.75vw;
		width: 50%;
		height: 62.5vw;
	}
	
	.home-selection{
		margin: 0 2% 1.25vw 2%;
		height: 8.75vw;
		width: 96%;
	}
	
	.home-controls-div{
		width: 50%;
		height: 62.5vw;
	}

	.home-controls-div h2{
		font-size: 5vw;
	}

	.home-controls-div p{
		font-size: 2.5vw;
	}
}

/* when the view width is more than 5/2 of the view height (screen too wide):
	swap view width specification with view height specifications 
		(because view width no longer corresponds to the game-screen size, 
		the screen is 5/2 ratio with the width based on the height of screen)
*/
@media(min-aspect-ratio: 5/2){
	#screen{
		width: 250vh;
		height: 100vh;
	}
	
	#homescreen h1{
		font-size: 20vh;
	}
	
	.score {
		margin-top: 2.5vw;
		font-size: 12.5vh;
	}
	
	.fps {
		font-size: 2.5vh;
	}
}
