body {
	text-align: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

canvas{
	position: absolute;
	left: 0px;
	top: 0px;
}

#screen{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

#game{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
}

#overlay{
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	font-family: Arial;
}

.homescreen{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	zIndex: 100;
	background-color: #5577ff;
	user-select: none;
}

.homescreen h1{
	margin: 0 auto;
	font-size: 6em;
}

.home-selection{
	margin: 2% 4% 0 0;
	height: 25%;
	width: 35%;
	font-size: 1.3em;
	background-color: #ffdd00;
	text-align: center;
	highlighted: false;
}

.home-selection p{
	margin: 1% 0 0 0;
}

.highlighted-home-selection{
	outline: 4px solid cyan;
}

.end-game-screen{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	font-size: 3em;
	zIndex: 100;
	background-color: #5577ff;
	user-select: none;
}

.end-game-screen p{
	margin: 16px 0 0 0;
}

.end-game-screen-text-div{
	background-color: #9999ff;
}

.editor-overlay{
	width: 100%;
	height: 100vh;
	display: none;
}

.editor-controls{
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 200;
	background-color: rgba(100, 100, 100, 0.4);
}

.editor-ranges-div{
	width: 90%;
	margin-left: 5%;
}

.editor-buttons-div{
	position: absolute;
	width: 5%;
	left: 0;
	top: 0;
	height: 100%;
}

.editor-broad-range{
	width: 100%;
	display: block;
}

.editor-precise-range{
	width: 25%;
	display: block;
}

.score{
	position: absolute;
	top: 0;
	right: 0;
	height: 4%;
	width: 10%;
	font-size: 2em;
	z-index: 200;
	margin: 0;
	user-select: none;
}

.menu{
	position: absolute;
	top: 10%;
	left: 40%;
	height: 70%;
	width: 30%;
	font-size: 3em;
	z-index: 200;
	background-color: #9999ff;
}

.menu-panel{
	width: 100%;
}

.menu-selection{
	width: 100%;
	height: 20%;
	margin-bottom: 2px;
}

.highlighted-menu-selection{
	outline: 4px solid cyan;
}

.menu-selection p{
	margin: 0;
	user-select: none;
}

.change-control-dialog{
	position: absolute;
	width: 20%;
	height: 12%;
	left: 40%;
	top: 20%;
	z-index: 300;
}

.extra-dialog{
	position: absolute;
	top: 10px;
	left: 40%;
	width: 20%;
	background-color: #aaaaaa;
	z-index: 300;
}

.full-sized{
	width: 100%;
	height: 100%;
}

@media(max-aspect-ratio: 8/5){
	#screen{
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		width: 100vw;
		height: 62.5vw;
	}
	
	#game{
		width: 100vw;
		height: 62.5vw;
	}

	#overlay{
		width: 100vw;
		height: 62.5vw;
	}

	.homescreen{
		width: 100vw;
		height: 62.5vw;
	}
	.end-game-screen{
		height: 100vw;
		width: 62.5vw;
	}

	.editor-overlay{
		width: 100vw;
		height: 62.5vw;
	}
}

@media(min-aspect-ratio: 2.5){
	#screen{
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		width: 250vh;
		height: 100vh;
	}
}